<!--
<div class="container">
    <div style="text-align: center; margin-top: 15px;">
        <h1>Welcome to the Clock Page!</h1>
        <p>In this page you will find some useful utilities for the clock. Enjoy!</p>
    </div>

    <app-clock style="display: flex; justify-content:center; align-items:center;"/>

    <h1 style="margin-top: 25px;">Utilities</h1>
    <div class="card" style="width: 15rem; height: 15rem; margin-top: 25px; margin-bottom: 25px;">
        <div class="card-header alarm-actions-title">
            Actions
        </div>
        <div class="card-body alarm-actions-body">
            <button type="button" class="btn btn-success action-btn" (click)="createTimer()">Create Timer</button>
            <button type="button" class="btn btn-danger action-btn" (click)="removeAllTimers()">Remove All Timers</button>
        </div>
    </div>
    <app-timer-list [timerListData]="timerList" (removeTimerEvent)="removeTimer($event)"/>
</div>

<router-outlet />
-->

<div class="general-styles">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Clock Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link"
                        routerLink=""
                        [ngClass]="{active: menuOption == 'home'}"
                        (click)="onOption('home')">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"
                        routerLink="timers"
                        [ngClass]="{active: menuOption == 'timers'}"
                        (click)="onOption('timers')">Timers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet />
</div>
